@{
    ViewBag.Title = "Overview";
}

<div class="jumbotron">
    <h1>Twitters</h1>
    <p>@Html.ActionLink("Create User", "Create", "Users")</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Posts", "Index", "Posts")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Users", "Index", "Users")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Comments", "Index", "Comments")</h2>
    </div>
</div>